<form>
  <div class="form-row">
    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName" placeholder="First name" [(ngModel)]="person.firstName">
  </div>

  <div class="form-row">
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last name" [(ngModel)]="person.lastName">
  </div>

  <div class="form-row">
    <label for="age">Age</label>
    <input type="email" id="age" name="age" placeholder="Age" [(ngModel)]="person.age">
  </div>

  <div class="form-row">
    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="City" [(ngModel)]="person.address.city">
  </div>

  <div class="form-row">
    <label for="street">Street</label>
    <input type="text" id="street" name="street" placeholder="Street" [(ngModel)]="person.address.street">
  </div>

  <div class="form-row">
    <label for="postcode">Postcode</label>
    <input type="text" id="postcode" name="postcode" placeholder="Postcode" [(ngModel)]="person.address.postCode">
  </div>

  <div class="buttonDiv">
    <button type="button" class="save" (click)="save()">Save</button>
    <button type="button" class="back" [routerLink]="['/']">Back</button>
  </div>
</form>
